#pragma once

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
//#include <prsht.h>
#include <commctrl.h>
#include <richedit.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#include "..\\include\\Resource.h"

ID_NUM_WIN_CURSOR_PNG ID_WIN_CURSOR_PNG "Windows_cursor.png"

